Ans1:
 (i) string
str_variable = "Hello, World!"

 (ii) list
list_variable = [1, 2, 3, 4, 5]

(iii) float
float_variable = 3.14

(iv) tuple
tuple_variable = (10, 20, 30)

Ans2:
  
type_var1 = str

type_var2 = str

type_var3 = list

type_var4 = float

Ans3:
     (i) /
result_division = 10 / 3  # Result: 3.3333...

#(ii) %
remainder = 10 % 3  # Result: 1 (remainder of the division)

 (iii) //
integer_division = 10 // 3  # Result: 3 (floor division, discards the decimal part)

 (iv) **
exponential = 2 ** 3  # Result: 8 (2 raised to the power of 3)

Ans4:

In [1]:
list = [1, "hello", 3.14, True, [1, 2, 3], {'a': 1}, (4, 5), None, "world", 9]

for i in list:
    print(f"{i}: {type(i)}")

1: <class 'int'>
hello: <class 'str'>
3.14: <class 'float'>
True: <class 'bool'>
[1, 2, 3]: <class 'list'>
{'a': 1}: <class 'dict'>
(4, 5): <class 'tuple'>
None: <class 'NoneType'>
world: <class 'str'>
9: <class 'int'>

Ans5

In [4]:

A = int(input("Enter the value for A: "))
B = int(input("Enter the value for B: "))
count = 0

while A % B == 0:
    A /= B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter the value for A:  25
Enter the value for B:  5

1.0 is divisible by 5 2 times.

Ans6:

In [7]:

int_list = list(range(1, 26))

for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

TypeError: 'list' object is not callable

Ans7: 
    Mutable data types can be changed or modified after creation, whereas immutable data types cannot be changed.

Examples:

Mutable: Lists, Dictionaries

In [ ]:
list = [1, 2, 3]
mutable_list[0] = 99  # Modifying the list